<app-header></app-header>

<div id="avis" style="margin-top:90px;">
  <h1>Avis clients</h1>
  <div class="content">
    <div id="avis-row">
      <div class="avis-card">
        <div class="avis-head">
          <div class="avis-h-item">
            <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. "</p>
          </div>
          <div class="avis-h-item">
            <div class="img1"></div>
          </div>
        </div>
        <p>
          "Perspiciatis officiis expedita ad deleniti, repudiandae soluta!"
        </p>
      </div>
      <div class="avis-card">
        <div class="avis-head">
          <div class="avis-h-item">
            <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. "</p>
          </div>
          <div class="avis-h-item">
            <div class="img2"></div>
          </div>
        </div>
        <p>
          "Perspiciatis officiis expedita ad deleniti, repudiandae soluta!"
        </p>
      </div>
    </div>
    <div id="socialMedia">
      <div class="social facebook"></div>
      <div class="social instagram"></div>
      <div class="social twitter"></div>
      <div class="social pinterest"></div>
    </div>
  </div>
</div>
