<app-header></app-header>
<div id="tarifs" style="margin-top:20px">
  <h1>Tarifs</h1>
  <div class="content">
    <div id="picture"></div>
    <div id="text">
      <h2>Tarifs horaires</h2>
      <div class="text-card">
        <div class="card-item">
          <p class="bold">Heures de pointe: </p>
          <p> 7h à 9h et 17h à 19h</p>
        </div>
        <div class="card-item">
          <p class="bold">Heures normales: </p>
          <p> 6h à 7h, 9h à 16h, 19h à 20h</p>
        </div>
      </div>
      <div class="text-card">
        <div class="card-item">
          <p class="bold">1er, 2e et 5e: </p>
          <p> 20€ en heure de pointe, 15€ en heure normale</p>
        </div>
        <div class="card-item">
          <p class="bold">6e: </p>
          <p> 25€ en heure de pointe, 20€ en heure normale</p>
        </div>
        <div class="card-item">
          <p class="bold">4e et 9e: </p>
          <p> 15€ en heure de pointe, 13€ en heure normale</p>
        </div>
        <div class="card-item">
          <p class="bold">3e, 7e et 8e: </p>
          <p> 13€ en heure de pointe, 10 € en heure normale</p>
        </div>
      </div>
    </div>
  </div>
</div>
