<nav>
  <div id="logos">
    <div id="tcl"></div>
    <a routerLink="" routerLinkActive="active" id="PiCom">Pi<span id="Com">Com</span></a>
  </div>
  <div id="menu-items">
    <a routerLink="/tarifs" routerLinkActive="active">Tarifs</a>
    <a routerLink="/stats" routerLinkActive="active">Stats</a>
    <a routerLink="/avis" routerLinkActive="active">Avis</a>
  </div>
  <div class="btn btn-primary " id="connexion">
    <div id="connexion-flex">
      <div id="padlock"></div>
      <a routerLink="/login" routerLinkActive="active">Connexion</a>
    </div>
  </div>
</nav>
